
:host {
	display: block ;
}

.__title {
	background-color: #F0F0F0 ;
	border-radius: 10px 10px 10px 10px ;
	color: #666666 ;
	display: table ;
	font-size: 36px ;
	margin: 200px auto 0px auto ;
	padding: 10px 30px 10px 30px ;
}
