
:host {
	display: block ;
}

.header {
	color: #434C5E ;
	font-weight: 400 ;
	text-align: center ;
	
	&__title {
		font-size: 30px ;
		line-height: 35px ;
		margin-bottom: 20px ;
	}

	&__subtitle {
		font-size: 16px ;
	}
}

.form {
	background-color: #FAFAFA ;
	box-sizing: border-box ;
	color: #999999 ;
	height: 500px ;
	margin: 35px 0px 40px 0px ;
	padding: 20px 20px 20px 20px ;
	width: 540px ;
}

.upgrade {
	background-color: #00B96B ;
	border-radius: 57px 57px 57px 57px ;
	color: #FFFFFF ;
	display: block ;
	font-size: 12px ;
	font-weight: 600 ;
	line-height: 57px ;
	margin: 0px auto 0px auto ;
	text-align: center ;
	text-decoration: none ;
	text-transform: uppercase ;
	width: 275px ;
}

.security {
	margin-top: 25px ;
	text-align: center ;

	&__description {
		color: #00B974 ;
		font-size: 14px ;
		font-weight: 600 ;
		line-height: 19px ;
		margin-bottom: 4px ;
	}

	&__encryption {
		color: #838A9A ;
		font-size: 13px ;
		font-weight: 400 ;
		line-height: 18px ;
	}
}
