
.app {}

.title {}

.items {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	width: 400px ;

	&__item {
		margin: 20px 0px 20px 0px ;
		padding: 0px 0px 0px 0px ;
	}
}

.friend {
	border-width: 4px ;
}

.no-data {
	color: #cccccc ;
	font-size: 20px ;
	line-height: 25px ;
	margin-top: 30px ;
	width: 400px ;
}
