
.friend {
	border: 2px solid #cccccc ;
	border-radius: 4px 4px 4px 4px ;
	display: flex ;
	padding: 10px 15px 10px 15px ;
}

.name {
	flex: 1 1 auto ;
}

.actions {
	flex: 0 1 auto ;
}

.action {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
}
