
:host {
	border: 1px dotted #CCCCCC ;
	display: block ;
	font-size: 18px ;
	padding: 10px 20px 10px 20px ;
}

p {
	border: 1px solid #CCCCCC ;
	padding: 15px 15px 15px 15px ;

	&.origin {
		border: 2px solid gold ;
	}

	&.omit {
		border-color: red ;
	}
}

code {
	background-color: #FAFAFA ;
	border: 1px solid red ;
	border-radius: 3px 3px 3px 3px ;
	padding: 1px 7px 2px 7px ;
}
