
// The goal of this file is to keep all of the theme-variables in one place such that
// they can all be seen at once. Though, TO BE HONEST, I have no idea if this is even a
// worth-while endeavor. I only did it because I see other frameworks using a "variables"
// file. But, that is not really a great reason to do anything. After all, I'm not really
// repeating any values here. It would likely have been MUCH EASIER to just use the
// different values DIRECTLY IN THE VARIOUS ANGULAR COMPONENTS. I think the use of an
// external file, in this case, is solving a problem that I don't yet have.
// --
// NOTE: I think this kind of approach (using a variables file) would make much more
// sense if I was using a more "official" theme. Something like Material Design, where
// primary, secondary, etc. colors are more concretely followed.

// -- General -- //

@light-background-color: #ffffff ;
@light-color: #333333 ;

@dark-background-color: #121212 ;
@dark-color: #f0f0f0 ;

// -- Canvas -- //

@light-canvas-background-color: #fafafa ;
@light-canvas-color: #333333 ;
@light-canvas-border-color: #cccccc ;
@light-canvas-gutter-background-color: #e0e0e0 ;
@light-canvas-gutter-color: #999999 ;

@dark-canvas-background-color: #282923 ;
@dark-canvas-color: #f8f8f2 ;
@dark-canvas-border-color: #42433f ;
@dark-canvas-gutter-background-color: #20211C ;
@dark-canvas-gutter-color: #999999 ;

// -- Panels -- //

@light-panel-background-color: #f0f0f0 ;
@light-panel-color: #161616 ;
@light-panel-input-background-color: #ffffff ;
@light-panel-input-color: #333333 ;
@light-panel-button-background-color: #e0e0e0 ;
@light-panel-button-color: #121212 ;
@light-panel-button-border-color: #666666 ;

@dark-panel-background-color: #20211C ;
@dark-panel-color: #999999 ;
@dark-panel-input-background-color: #2e2f28 ;
@dark-panel-input-color: #dadada ;
@dark-panel-button-background-color: #121212 ;
@dark-panel-button-color: #dadada ;
@dark-panel-button-border-color: #333333 ;
