
:host {
	background-color: #F9F9FB ;
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.in {
	background-color: #3D3D3F ;
	border-radius: 3px 3px 3px 3px ;
	color: #FFFFFF ;
	font-size: 26px ;
	font-weight: 600 ;
	height: 37px ;
	line-height: 37px ;
	left: 27px ;
	position: absolute ;
	text-align: center ;
	text-decoration: none ;
	top: 27px ;
	width: 37px ;
	z-index: 1 ;
}

router-outlet {
	display: none ;
}
