
:host {
	display: block ;
}

.header {
	padding-top: 200px ;
	
	&__in {
		background-color: #3D3D3F ;
		border-radius: 3px 3px 3px 3px ;
		color: #FFFFFF ;
		font-size: 26px ;
		font-weight: 600 ;
		height: 37px ;
		line-height: 37px ;
		left: 27px ;
		position: absolute ;
		text-align: center ;
		text-decoration: none ;
		top: 27px ;
		width: 37px ;
	}

	&__title {
		color: #282F3D ;
		font-size: 66px ;
		font-weight: 400 ;
		line-height: 66px ;
		margin: 0px 0px 0px 0px ;
		text-align: center ;
		text-transform: uppercase ;
	}
}

.teaser {
	text-align: center ;

	&__back {
		color: #333333 ;
	}
}
