
:host {
	display: block ;
	font-size: 18px ;
}

input, select, button {
	font-size: inherit ;
}

form {
	border-bottom: 1px solid #cccccc ;
	margin-bottom: 25px ;
	padding-bottom: 15px ;
}

.entry {
	align-items: center ;
	display: flex ;
	margin: 10px 0px 10px 0px ;

	label {
		font-weight: 800 ;
		margin-right: 15px ;
	}
}

.actions {
	display: flex ;
	margin: 10px 0px 10px 0px ;
}
