
body {
	font-family: monospace ;
	font-size: 18px ;
	line-height: 1.4 ;
}

button,
select {
	font-family: inherit ;
	font-size: inherit ;
	line-height: inherit ;
}

button {
	padding: 0.5rem 2ch ;
}
select {
	padding: 0.5rem 1.5ch ;
}

.form {
	display: flex ;
	gap: 10px ;
}

.text {
	color: #666666 ;
	font-size: 20px ;
/*	text-transform: capitalize ;*/
}
