
:host {
	display: block ;
	font-size: 18px ;
}

.nav {
	border-bottom: 1px solid #cccccc ;
	display: flex ;
	padding-bottom: 20px ;

	&__item {
		border: 1px solid #cccccc ;
		border-radius: 4px 4px 4px 4px ;
		color: red ;
		font-weight: bold ;
		margin-right: 15px ;
		padding: 10px 20px 10px 20px ;
	}
}