
dot-grid {
	border: 1px dashed #CCCCCC ;
	border-radius: 10px 10px 10px 10px ;
	bottom: 30px ;
	left: 30px ;
	position: fixed ;
	right: 30px ;
	top: 80px ;
}

dot-grid ul {
	bottom: 0px ;
	cursor: pointer ;
	left: 0px ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

dot-grid li {
	height: 1px ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	position: absolute ;
	transition: top 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ), left 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ) ;
		-moz-transition: top 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ), left 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ) ;
		-webkit-transition: top 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ), left 300ms cubic-bezier( 0.25, 0.97, 0.39, 1.12 ) ;
	width: 1px ;
}

dot-grid li span {
	background-color: #FF0099 ;
	border-radius: 34px 34px 34px 34px ;
	color: #FFFFFF ;
	font-size: 14px ;
	height: 34px ;
	left: -17px ;
	line-height: 34px ;
	position: absolute ;
	text-align: center ;
	top: -17px ;
	width: 34px ;
}