
:host {
	display: block ;
	font-size: 18px ;
}

input {
	font-size: inherit ;
	margin-right: 10px ;
}

a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

.results {
	list-style-type: none ;
	margin: 20px 0px 20px 0px ;
	padding: 0px 0px 0px 0px ;
}

.result {
	margin: 10px 0px 10px 0px ;
	padding: 0px 0px 0px 0px ;
}
