
:host {
	align-items: center ;
	border: 1px solid #cccccc ;
	border-radius: 4px 4px 4px 4px ;
	display: flex ;
	padding: 10px 10px 10px 10px ;
	width: 250px ;
}

.initials {
	background-color: #9999aa ;
	border-radius: 40px 40px 40px 40px ;
	color: #ffffff ;
	height: 34px ;
	flex: 0 0 auto ;
	font-family: monospace, sans-serif ;
	font-size: 16px ;
	font-weight: 800 ;
	line-height: 34px ;
	margin-right: 13px ;
	text-align: center ;
	width: 34px ;
}

.details {
	flex: 1 1 auto ;
}

.name {
	color: #333333 ;
	display: block ;
	font-size: 18px ;
	line-height: 23px ;
}

.email {
	color: #999999 ;
	display: block ;
	font-size: 14px ;
	line-height: 17px ;
}
