*,
*:before,
*:after {
	box-sizing: border-box ;
}

body {
	font-family: monospace ;
	font-size: 16px ;
	line-height: 1.4 ;
}

main {
	display: flex ;
	flex-direction: column ;
	align-items: center ;
	gap: 30px ;
}

.grid {
	background-color: #eaeaea ;
	display: inline-flex ;
	flex-direction: column ;
	user-select: none ;
}
.grid div {
	display: flex ;
}
.grid button {
	background-color: #fafafa ;
	border: 1px solid #eaeaea ;
	border-width: 0 1px 1px 0 ;
	box-sizing: content-box ;
	height: 26px ;
	margin: 0 ;
	padding: 0 ;
	width: 26px ;
}
.grid button:first-of-type {
	border-left-width: 1px ;
}
.grid div:first-of-type button {
	border-top-width: 1px ;
}

.palette {
	display: flex ;
	flex-wrap: wrap ;
	width: 650px ;
}
.palette button {
	box-shadow: 0 0 1px #000000 ;
	border: none ;
	flex: 1 1 auto ;
	height: 30px ;
	width: 30px ;
}
.palette button.isSelected {
	box-shadow: 0 0 3px 5px #000000 ;
	outline: 2px solid #ffffff ;
	z-index: 2 ;
}
.palette button span {
	display: none ;
}

.selected {
	display: flex ;
	font-size: 20px ;
	margin: 0 ;
	gap: 30px ;
}
.selected div {
	display: flex ;
	gap: 10px ;
}
.selected dt {
	font-weight: 700 ;
	margin: 0 ;
}
.selected dd {
	margin: 0 ;
}

.tools {
	display: flex ;
	font-size: 20px ;
	gap: 10px ;
}
.tools button {
	background-color: #333 ;
	border: none ;
	color: #ffffff ;
	font: inherit ;
	padding: 10px 20px ;
}