
marky-mark {
	border: 2px solid #FFC926 ;
	border-radius: 3px 3px 3px 3px ;
	display: block ;
	margin: 20px 0px 20px 0px ;
	width: 650px ;
}

marky-mark div.content {
	font-size: 18px ;
	padding: 10px 10px 10px 10px ;
}

input {
	border: 2px solid #0080FF ;
	border-radius: 3px 3px 3px 3px ;
	box-sizing: border-box ;
	display: block ;
	font-size: 18px ;
	margin: 20px 0px 20px 0px ;
	padding: 10px 10px 10px 10px ;
	width: 650px ;
}