
:host {
	display: block ;
}

.description {
	font-size: 16px ;
	line-height: 25px ;
	margin-bottom: 40px ;

	strong {
		color: #1E8FE1 ;
		font-weight: 600 ;
	}
}

.form {
	&__label {
		color: #3C5170 ;
		display: block ;
		font-size: 13px ;
		font-weight: 600 ;
		margin-bottom: 10px ;
		text-transform: uppercase ;
	}

	&__field {
		align-items: stretch ;
		display: flex ;
	}

	&__input {
		border: 1px solid #DEE3E9 ;
		border-right-width: 0px ;
		border-radius: 3px 0px 0px 3px ;
		box-sizing: border-box ;
		flex: 1 1 100% ;
		font-size: 16px ;
		line-height: 50px ;
		padding: 0px 18px 0px 18px ;
		width: 100% ;
	}

	&__button {
		background-color: #64BA76 ;
		border: 1px solid #4BA75E ;
		border-left-width: 0px ;
		border-radius: 0px 3px 3px 0px ;
		color: #FFFFFF ;
		display: flex ;
		flex: 0 0 auto ;
		font-size: 13px ;
		font-weight: 600 ;
		padding: 0px 25px 0px 25px ;
		text-decoration: none ;
		text-transform: uppercase ;

		// Needed to veritcally-center the text.
		span {
			margin: auto ;
		}
	}

	&__url {
		font-size: 13px ;
		line-height: 18px ;
		margin-top: 20px ;

		strong {
			color: #3C5170 ;
			font-weight: 600 ;
			text-transform: uppercase ;
		}
	}
}
