
my-app {
	display: block ;
}

my-counter {
	display: block ;
	margin: 16px 0px 16px 0px ;
}

a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}