
:host {
	border-top: 2px solid #cccccc ;
	display: block ;
	font-size: 20px ;
	line-height: 28px ;
	margin: 20px 0px 20px 0px ;
	padding-top: 20px ;
}

.breadcrumbs {
	display: flex ;

	a {
		margin-right: 12px ;
	}

	span {
		color: #999999 ;
		margin-right: 12px ;
	}
}
