
:host {
	display: block ;
	font-size: 18px ;
}

code {
	background-color: #FAFAFA ;
	border: 1px solid #999999 ;
	border-radius: 5px 5px 5px 5px ;
	color: red ;
	display: inline-block ;
	padding: 1px 5px 2px 5px ;
}
