
:host {
	display: block ;
	font-size: 18px ;
}

.items {
	list-style-type: none ;
	margin: 20px 0px 20px 0px ;
	padding: 0px 0px 0px 0px ;
	width: 250px ;

	&__item {
		margin: 10px 0px 10px 0px ;
	}
}
