
a[ ng-click ] {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

div.marker {
	background-color: #FAFAFA ;
	border-radius: 4px 4px 4px 4px ;
	box-shadow: 0px 0px 4px #666666 ;
	font-size: 20px ;
	height: 70px ;
	left: -300px ;
	line-height: 70px ;
	position: fixed ;
	text-align: center ;
	top: -300px ;
	transition: all 400ms ease ;
		-moz-transition: all 400ms ease ;
		-webkit-transition: all 400ms ease ;
	width: 70px ;
}