
<div class="m-standard-header">
	<div class="m-standard-header__container">

		<span routerLink="/" class="m-standard-header__logo">
			in
		</span>

		<h1 class="m-standard-header__title">
			Activity
		</h1>

	</div>
</div>

<div class="m-stndard-body">
	<div class="m-standard-body__container">

		<div class="activity-wrapper">

			<section class="activity">

				<div class="activity__header">
					<div class="activity__date">
						Today
					</div>
				</div>

				<div class="activity__content" [style.padding-bottom.px]="100">
					Details would go here...
				</div>

			</section>

			<section class="activity">

				<div class="activity__header">
					<div class="activity__date">
						Yesterday
					</div>
				</div>

				<div class="activity__content" [style.padding-bottom.px]="100">
					Details would go here...
				</div>

				<div class="activity__content" [style.padding-bottom.px]="400">
					Details would go here...
				</div>

				<div class="activity__content" [style.padding-bottom.px]="200">
					Details would go here...
				</div>

			</section>

			<section class="activity">

				<div class="activity__header">
					<div class="activity__date">
						Last Week
					</div>
				</div>

				<div class="activity__content" [style.padding-bottom.px]="300">
					Details would go here...
				</div>

			</section>

		</div>

	</div>
</div>
