
:host {
	display: block ;
	text-align: center ;
}

.tabs {
	display: flex ;
	border-bottom: 5px solid #CCCCCC ;
	margin: 30px 380px 0px 380px ;

	&__tab {
		background-color: #FAFAFA ;
		flex: 1 0 auto ;
		padding: 17px 0px 14px 0px ;
		text-align: center ;

		&--on {
			background-color: #CCCCCC ;
			font-weight: bold ;
		}
	} 
}

.tab-content {
	margin: 0px 380px 0px 380px ;
	padding: 20px 20px 20px 20px ;
}
