
<a [routerLink]="[ '/app', { outlets: { modal: null } } ]" class="close"></a>

<div class="sidebar-column">

	<a [routerLink]="[ '/app', { outlets: { modal: null } } ]" class="in">
		in
	</a>

	<div class="sidebar-column__features features">

		<div class="features__title">
			The top product design cloud, featuring:
		</div>

		<ul class="features__list">
			<li class="features__feature">
				<div class="features__name">
					Unlimited Access
				</div>
				<div class="features__description">
					No limits on projects, members and storage
				</div>
			</li>
			<li class="features__feature">
				<div class="features__name">
					Custom Workflows
				</div>
				<div class="features__description">
					Detailed control over your team’s design process
				</div>
			</li>
			<li class="features__feature">
				<div class="features__name">
					Enhanced Security
				</div>
				<div class="features__description">
					256-bit encryption, SSO and user management
				</div>
			</li>
			<li class="features__feature">
				<div class="features__name">
					Priority Support
				</div>
				<div class="features__description">
					Get the white glove treatment that you deserve
				</div>
			</li>
		</ul>

	</div>

	<div class="trusted">
		Trusted by the world's smartest companies
	</div>

</div>

<div class="content-column">
	<div class="content-column__content">

		<header class="header">
			<div class="header__title">
				Get a Demo of InVision Enterprise!
			</div>

			<div class="header__subtitle">
				No credit card required. No setup fees. No obligation.
			</div>
		</header>

		<div class="form">
			( Contact information form )
		</div>

		<a [routerLink]="[ '/app', { outlets: { modal: 'modal/enterprise-demo-scheduled' } } ]" class="schedule">
			Schedule Demo
		</a>

	</div>
</div>