
:host {
	display: block ;
	font-size: 18px ;
}

.filter {
	font-size: 22px ;
}

.match {
	font-size: 18px ;

	&__segment {
		color: #454545 ;
		display: inline-block ;
		white-space: pre ;

		&--on {
			color: #000000 ;
			font-weight: 800 ;
		}
	}
}
