
:host {
	background-color: #FFFFFF ;
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.content {
	flex: 0 0 auto ;
	margin: auto auto auto auto ;
	text-align: center ;
	width: 500px ;
}

.checkmark {
	border: 2px solid #1E8FE1 ;
	border-radius: 71px 71px 71px 71px ;
	color: #1E8FE1;
	font-size: 37px ;
	font-weight: 600 ;
	height: 71px ;
	line-height: 71px ;
	margin: 0px auto 50px auto ;
	width: 71px ;
}

.title {
	color: #434C5F ;
	font-size: 30px ;
	font-weight: 400 ;
	line-height: 35px ;
	margin-bottom: 20px ;
}

.description {
	color: #5F697A ;
	font-size: 16px ;
	font-weight: 400 ;
	line-height: 25px ;
}

.back {
	background-color: #1E8FE1 ;
	border-radius: 57px 57px 57px 57px ;
	color: #FFFFFF ;
	display: block ;
	font-size: 12px ;
	font-weight: 600 ;
	line-height: 57px ;
	margin: 60px auto 0px auto ;
	text-align: center ;
	text-decoration: none ;
	text-transform: uppercase ;
	width: 250px ;
}
