
:host {
	background-color: #ffffff ;
	border-radius: 7px 7px 7px 7px ;
	display: block ;
	padding: 20px 20px 20px 20px ;
	position: relative ;
	width: 400px ;
}

.close {
	color: #666666 ;
	cursor: pointer ;
	font-size: 24px ;
	font-weight: 800 ;
	line-height: 24px ;
	position: absolute ;
	right: 10px ;
	text-decoration: none ;
	top: 7px ;
}

.title {
	margin: 0px 0px 20px 0px ;
}

.form {
	margin: 0px 0px 0px 0px ;
}

.field {
	display: flex ;
	margin-bottom: 10px ;

	&__input {
		flex: 1 1 auto ;
		font-size: 20px ;
		margin-right: 8px ;
	}

	&__submit {
		flex: 0 1 auto ;
		font-size: 20px ;
	}
}

.bulk {
	display: flex ;
	
	&__input {
		flex: 0 1 auto ;
		margin-right: 7px ;
	}

	&__label {
		flex: 1 1 auto ;
		font-size: 15px ;
		line-height: 20px ;
	}
}
