
:host {
	animation: enter-animation 3s ;
	border: 3px solid #EAEAEA ;
	box-sizing: border-box ;
	display: block ;
	font-size: 16px ;
	padding: 20px 20px 20px 20px ;
}

@keyframes enter-animation {
	from {
		opacity: 0.0 ;
	}
	to {
		opacity: 1.0 ;
	}
}

child-component {
	margin-top: 20px ;
}
