
:host {
	animation: enter-animation 3s ;
	border: 3px solid #CCCCCC ;
	box-sizing: border-box ;
	display: block ;
	height: 100px ;
	padding: 20px 20px 20px 20px ;
}

@keyframes enter-animation {
	from {
		height: 0px ;
	}
	to {
		height: 100px ;
	}
}
