
:host {
	display: block ;
	font-size: 18px ;
}

form {
	margin-bottom: 25px ;

	input {
		font-size: 18px ;

		&[ type = "text" ] {
			width: 300px ;
		}

		&[ type = "submit" ] {
			margin-left: 10px ;
		}
	}

	label {
		display: block ;
		margin-top: 7px ;
	}
}