
body {
	font-family: sans-serif ;
	font-size: 18px ;
}

a {
	color: blue ;
}

[ tabindex = "-1" ] {
	color: black ;
}

*:focus {
	outline: 2px solid red ;
}

[ tabindex = "-1" ]:focus {
	outline: 4px dotted blue ;
}

.capture {
	border: 2px dotted red ;
	border-radius: 4px 4px 4px 4px ;
	padding: 10px 10px 10px 10px ;
}

.capture a,
.capture button,
.capture input {
	display: block ;
	margin: 10px 0px 10px 0px ;
}
