
.comparisons {
	display: flex ;
	flex-wrap: wrap ;
	width: 500px ;
}

.comparisons div {
	border: 1px solid #cccccc ;
	border-radius: 3px 3px 3px 3px ;
	margin: 0px 10px 30px 0px ;
	width: 150px ;
}
