
my-app {
	display: block ;
}

a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

div.container {
	height: 220px ;
	margin: 20px 0px 20px 0px ;
	position: relative ;
}

div.friend {
	background-color: #FAFAFA ;
	border: 1px solid #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	height: 220px ;
	left: 0px ;
	position: absolute ;
	text-align: center ;
	top: 0px ;
	width: 350px ;
}

div.friend div.name {
	font-size: 26px ;
	margin: 16px 10px 16px 10px ;
}

div.friend div.avatar {
	background-color: #DADADA ;
	border-radius: 75px 75px 75px 75px ;
	height: 75px ;
	margin: 0px auto 22px auto ;
	width: 75px ;
}

div.friend div.meta {
	border-top: 1px solid #CCCCCC ;
	color: #999999 ;
	padding-top: 22px ;
}

p.controls {
	text-align: center ;
	width: 350px ;
}
