
:host {
	display: inline-block ;
	overflow: hidden ;
	position: relative ;
}

.svg {
	bottom: 0px ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.content {
	color: #666666 ;
	font-family: monospace, sans-serif ;
	font-size: 18px ;
	line-height: 30px ;
	padding: 18px 23px 32px 23px ;
	position: relative ;
}
