
// BEGIN: Global styles. 

body {
	font-family: "Open Sans", sans-serif ;
	font-size: 16px ;
	font-smoothing: antialiased ;
		-webkit-font-smoothing: antialiased ;
	font-weight: 300 ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
}

input, select, textarea {
	font-family: "Open Sans", sans-serif ;
	font-size: 16px ;
	font-weight: 300 ;
}

// END: Global styles. 

my-app {
	display: block ;
}


// Bring in the shared styles first so that they can be overridden by more specific
// component use-cases.
@import "./standard-view/standard-view.less" ;
