
<div class="result">
	<span class="result__content">
		{{ formattedDate }}
	</span>
</div>

<div class="slider">
	<div class="slider__label">
		Year
	</div>
	<input
		#yearRef
		type="range"
		min="-100"
		max="100"
		[value]="yearDelta"
		(input)="( yearDelta = +yearRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ yearDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Month
	</div>
	<input
		#monthRef
		type="range"
		min="-100"
		max="100"
		[value]="monthDelta"
		(input)="( monthDelta = +monthRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ monthDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Day
	</div>
	<input
		#dayRef
		type="range"
		min="-100"
		max="100"
		[value]="dayDelta"
		(input)="( dayDelta = +dayRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ dayDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Hour
	</div>
	<input
		#hourRef
		type="range"
		min="-100"
		max="100"
		[value]="hourDelta"
		(input)="( hourDelta = +hourRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ hourDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Minute
	</div>
	<input
		#minuteRef
		type="range"
		min="-100"
		max="100"
		[value]="minuteDelta"
		(input)="( minuteDelta = +minuteRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ minuteDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Second
	</div>
	<input
		#secondRef
		type="range"
		min="-100"
		max="100"
		[value]="secondDelta"
		(input)="( secondDelta = +secondRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ secondDelta }}
	</div>
</div>

<div class="slider">
	<div class="slider__label">
		Millis
	</div>
	<input
		#millisecondRef
		type="range"
		min="-100"
		max="100"
		[value]="millisecondDelta"
		(input)="( millisecondDelta = +millisecondRef.value )"
		class="slider__input"
	/>
	<div class="slider__value">
		{{ millisecondDelta }}
	</div>
</div>
