
:host {
	display: block ;
	font-size: 18px ;
}

.spacer {
	height: 2000px ;
}

.control-case {
	background-color: #FAFAFA ;
	border: 1px solid #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	padding: 20px 20px 20px 20px ;

	& > *:first-child {
		margin-top: 0px ;
	}

	& > *:last-child {
		margin-bottom: 0px ;
	}
}

.overflower {
	border: 1px solid #CCCCCC ;
	height: 30px ;
	overflow: hidden ;
}

textarea {
	font-size: 18px ;
	margin-bottom: 20px ;
	width: 300px ;
}

input {
	display: block ;
	margin-bottom: 20px ;
	width: 300px ;
}

.outer {
	background-color: #FAFAFA ;
	border: 1px solid #CCCCCC ;
	border-radius: 4px 4px 4px 4px ;
	box-shadow: 1px 2px 1px fade( #000000, 10% ) ;
	height: 300px ;
	left: 100px ;
	overflow: auto ;
	padding: 30px ;
	position: absolute ;
	top: 600px ;
	width: 600px ;

	& > *:first-child {
		margin-top: 0px ;
	}

	& > *:last-child {
		margin-bottom: 0px ;
	}
}

.inner {
	background-color: white ;
	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	height: 200px ;
	margin: 16px 0px 16px 0px ;
	padding: 20px 20px 20px 20px ;
	overflow: auto ;
	width: 400px ;

	& > *:first-child {
		margin-top: 0px ;
	}

	& > *:last-child {
		margin-bottom: 0px ;
	}
}

strong {
	background-color: gold ;
	border-radius: 3px 3px 3px 3px ;
	display: inline-block ;
	padding: 0px 4px 0px 4px ;
}
