
:host {
	display: block ;
	font-size: 18px ;
}

tags-input {
	box-sizing: border-box ;
	display: table ;
	margin: 20px 0px 20px 0px ;
	width: 600px ;
}

tags-input-lite {
	background-color: #ffffff ;
	border: 1px solid #cccccc ;
	border-radius: 5px 5px 5px 5px ;
	box-sizing: border-box ;
	display: block ;
	margin: 20px 0px 20px 0px ;
	padding: 17px 17px 17px 17px ;
	width: 600px ;
}

.form {
	display: flex ;
	margin-bottom: 18px ;

	&__input {
		flex: 1 1 auto ;
		font-size: inherit ;
		margin-right: 10px ;
	}

	&__submit {
		flex: 0 0 auto ;
		font-size: inherit ;
		padding-left: 15px ;
		padding-right: 15px ;
	}
}

.tags {
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 35px ;

	&__tag {
		margin: 5px 0px 0px 0px ;
	}

	&__label {
		display: inline-block ;
		font-variant: small-caps ;
		margin-right: 13px ;
	}

	&__remove {
		color: #999999 ;
		cursor: pointer ;
		text-decoration: underline ;
	}
}
