
<p>
	You <strong>love Peanut Butter</strong>! And, that's what I <strong>love</strong>
	about you. Is that shallow? I don't know. And, <em>I don't care</em>. Life is
	<strong>too short</strong> to be worrying about who you love and why.
</p>

<h3>
	Words That are Fun to Say
</h3>

<ul>
	<li>Shenanigans.</li>
	<li>Groovy.</li>
	<li>Endoplasmic Reticulum.</li>
	<li>Chickens.</li>
</ul>

<h3>
	Interesting Facts
</h3>

<table border="1" cellpadding="5" cellspacing="5">
	<tr>
		<th>Type</th>
		<th>Name</th>
		<th>Temperament</th>
	</tr>
	<tr>
		<td>Dog</td>
		<td>Lucy</td>
		<td>Need <strong>as heck</strong></td>
	</tr>
	<tr>
		<td>Cat</td>
		<td>Montana</td>
		<td>Aloof</td>
	</tr>
	<tr>
		<td>Bird</td>
		<td>Beaker</td>
		<td>Noisy</td>
	</tr>
</table>

<p>
	Need more input! <strong>Johnny Five <em>Alive</em></strong>!
	No disassemble!
</p>
