
:host {
	background-color: fade( #000000, 85% ) ;
	bottom: 0px ;
	box-sizing: border-box ;
	color: #ffffff ;
	padding: 5px 20px 5px 20px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	width: 400px ;
}

a {
	color: inherit ;
}
