
:host {
	display: block ;
	font-size: 18px ;
}

a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
}

input,
button {
	font-size: inherit ;
}

.error {
	background-color: #ffeeee ;
	border: 1px solid #ff0000 ;
	border-width: 1px 1px 1px 4px ;
	border-radius: 6px 6px 6px 6px ;
	color: #ff0000 ;
	margin: 16px 0px 16px 0px ;
	padding: 15px 25px 15px 25px ;
}

form {
	display: flex ;

	> * {
		margin-right: 10px ;
	}
}
