
:host {
	display: block ;
	font-size: 18px ;
}

.file-content {
	background-color: #f0f0f0 ;
	border: 1px solid #cccccc ;
	border-radius: 5px 5px 5px 5px ;
	display: block ;
	padding: 15px 15px 15px 15px ;

	pre {
		margin: 0px 0px 0px 0px ;
		padding: 0px 0px 0px 0px ;
	}
}
