
:host {
	display: block ;
	font-size: 18px ;
}

div.child {
	background-color: #fafafa ;
	border: 1px solid #e0e0e0 ;
	border-radius: 5px 5px 5px 5px ;
	cursor: pointer ;
	margin-bottom: 10px ;
	padding: 20px 30px 20px 30px ;
}