
:host {
	border: 1px solid #CCCCCC ;
	cursor: pointer ;
	display: block ;
	font-size: 18px ;
	padding: 20px 20px 20px 20px ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

p {
	background-color: #F0F0F0 ;
	padding: 10px 10px 10px 10px ;
}
