
:host {
	display: block ;
	font-size: 18px ;
}

.buttons {
	display: flex ;
	margin-bottom: 25px ;

	button {
		background-color: #f0f0f0 ;
		border: 2px solid #cccccc ;
		border-radius: 5px 5px 5px 5px ;
		cursor: pointer ;
		font-size: 22px ;
		margin-right: 15px ;
		padding: 10px 20px 10px 20px ;
	}
}
