
:host {
	display: block ;
	font-size: 18px ;
}

.field,
.actions {
	margin: 13px 0px 13px 0px ;
}

.field {
	label {
		display: block ;
		font-weight: bold ;
	}

	input {
		display: block ;
		font-size: inherit ;
		width: 300px ;
	}
}

.actions {
	margin-top: 25px ;

	button {
		background-color: #0084d4 ;
		border-radius: 5px 5px 5px 5px ;
		border-width: 0px 0px 0px 0px ;
		color: #ffffff ;
		cursor: pointer ;
		font-size: inherit ;
		padding: 13px 20px 13px 20px ;
	}
}
