
input,
option,
textarea,
select,
button {
	font-size: 26px ;
}

input,
textarea,
select,
button {
	display: block ;
	margin-bottom: 10px ;
}

input[ type = text ],
select,
textarea {
	width: 400px ;
}