
:host {
	display: block ;
	font-size: 18px ;
	min-height: 1000px ;
}

a {
	color: red ;
	cursor: pointer ;
	text-decoration: underline ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

.items {
	display: flex ;
	flex-wrap: wrap ;
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;
	max-width: 700px ;

	&__item {
		background-color: gold ;
		border-radius: 60px 60px 60px 60px ;
		flex: 0 0 auto ;
		height: 60px ;
		margin: 0px 10px 10px 0px ;
		padding: 0px 0px 0px 0px ;
		width: 60px ;
	}
}
