
:host {
	bottom: 0px ;
	left: 0px ;
	overflow: auto ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.content {
	background-color: #FFFFFF ;
	border-radius: 7px 7px 7px 7px ;
	box-sizing: border-box ;
	min-height: 300px ;
	left: 50% ;
	margin-left: -250px ;
	padding: 27px 27px 27px 27px ;
	position: absolute ;
	top: 100px ;
	width: 500px ;

	& > *:first-child {
		margin-top: 0px ;
	}

	& > *:last-child {
		margin-bottom: 0px ;
	}
}

a {
	color: red ;
}
