
:host {
	display: block ;
}

.filtering {
	&__search {
		float: left ;
	}

	&__categories {
		float: right ;
	}

	&:after {
		clear: both ;
		content: "" ;
		display: table ;
		height: 0px ;
	}
}

.search {
	&__input {
		border: 0px solid #CCCCCC ;
		border-bottom-width: 1px ;
		outline: 0px ;
		padding: 10px 20px 10px 10px ;
		width: 300px ;
	}

	&__tip {
		color: #666666 ;
		display: inline-block ;
		font-size: 14px ;
		margin-left: 15px ;
		vertical-align: middle ;
	}

	&__key {
		background-color: #FAFAFA ;
		border: 1px solid #DADADA ;
		border-radius: 4px 4px 4px 4px ;
		color: #CC0000 ;
		display: inline-block ;
		margin: 0px 2px 0px 2px ;
		padding: 1px 7px 2px 7px ;
	}
}

.categories {
	list-style-type: none ;
	margin: 0px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;

	&__item {
		float: left ;
		margin: 0px 0px 0px 0px ;
		padding: 0px 0px 0px 25px ;		
	}

	&__link {
		color: #8C96A9 ;
		display: block ;
		font-size: 12px ;
		font-weight: 600 ;
		line-height: 42px ;
		padding: 0px 5px 0px 5px ;
		text-decoration: none ;
		text-transform: uppercase ;

		&:hover:not( .categories__link--on ) {
			color: #596378 ;
		}

		&--on {
			border-bottom: 2px solid #FF3366 ;
			color: #FF3366 ;
		}
	}
}

.plus {
	background-color: #FF3366 ;
	border-radius: 50px 50px 50px 50px ;
	box-shadow: 0px 1px 5px fade( #000000, 28% ) ;
	color: #FFFFFF ;
	font-size: 34px ;
	font-weight: 600 ;
	height: 50px ;
	line-height: 50px ;
	position: absolute ;
	right: 0px ;
	text-align: center ;
	text-decoration: none ;
	top: -28px ;
	transition: all 150ms ease ;
	width: 50px ;

	&:hover {
		border-radius: 54px 54px 54px 54px ;
		height: 54px ;
		line-height: 54px ;
		right: -2px ;
		top: -30px ;
		width: 54px ;
	}
}

.screens {
	list-style-type: none ;
	margin: 40px 0px 0px 0px ;
	padding: 0px 0px 0px 0px ;

	&:after {
		clear: both ;
		content: "" ;
		display: table ;
	}

	&__item {
		float: left ;
		height: 250px ;
		margin: 20px 30px 20px 0px ;
		position: relative ;
		width: 270px ;

		// ---
		// VARIATIONS.
		// ---

		&--column-4 {
			margin-right: 0px ;
		}
	}

	&__link {
		height: 250px ;
		width: 270px ;
	}
}


.screen {
	background-color: #FAFAFA ;
	border-radius: 2px 2px 2px 2px ;
	bottom: 0px ;
	box-shadow: 0px -1px 1px fade( #000000, 5% ), 0px 1px 2px fade( #000000, 20% ) ;
	box-sizing: border-box ;
	display: block ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
	transition: all 200ms ease ;

	&:hover {
		box-shadow: 0px 0px 13px fade( #000000, 10% ), 0px 1px 2px fade( #000000, 25% ) ;
	}

	&__cta {
		border: 1px solid #CCCCCC ;
		border-radius: 5px 5px 5px 5px ;
		color: #333333 ;
		font-size: 12px ;
		font-weight: 400 ;
		height: 36px ;
		left: 50% ;
		line-height: 36px ;
		margin-left: -84px ;
		opacity: 0 ;
		position: absolute ;
		text-align: center ;
		text-transform: uppercase ;
		top: 62px ;
		transition: all 200ms ease ;
		width: 166px ;

		&:hover {
			background-color: #1FC281 ;
			border-color: #1FC281 ;
			color: #FFFFFF ;
		}
	}

	&__footer {
		background-color: #FFFFFF ;
		border-radius: 0px 0px 2px 2px ;
		border-top: 1px solid #EAEAEA ;
		bottom: 0px ;
		height: 90px ;
		left: 0px ;
		position: absolute ;
		right: 0px ;
	}

	&__name {
		color: #47506E ;
		display: block ;
		font-size: 14px ;
		font-weight: 400 ;
		line-height: 20px ;
		margin: 25px auto 5px auto ;
		overflow: hidden ;
		text-align: center ;
		text-overflow: ellipsis ;
		white-space: nowrap ;
		width: 95% ;
	}

	&__filename {
		color: #828EA6 ;
		display: block ;
		font-size: 12px ;
		line-height: 17px ;
		margin: 0px auto 0px auto ;
		overflow: hidden ;
		text-align: center ;
		text-overflow: ellipsis ;
		white-space: nowrap ;
		width: 95% ;
	}

	// -- Variations.

	&:hover {
		.screen__cta {
			opacity: 1 ;
		}
	}
}
