
:host {
	background-color: #959BA1 ;
	border-radius: 100% 100% 100% 100% ;
	color: #FFFFFF ;
	display: inline-block ;
	font-size: 10px ;
	font-weight: 600 ;
	height: 36px ;
	position: relative ;
	text-transform: uppercase ;
	width: 36px ;
}

.layout {
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

img {
	border-radius: 100% 100% 100% 100% ;
	flex: 1 1 auto ;
	width: 100% ;
}

span {
	margin: auto ;
}
