
:host {
	display: block ;
	font-size: 18px ;
}

textarea {
	height: 100px ;
	font-size: inherit ;
	width: 450px ;
}

div.indicators {
	display: flex ;
	margin: 7px 0px 20px 0px ;
}

div.indicators > * {
	margin-right: 15px ;
}
