
:host {
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	overflow: auto ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

.label {
	background-color: #EAEAEA ;
	border-radius: 10px 10px 10px 10px ;
	margin: auto auto auto auto ;
	padding: 15px 35px 20px 35px ;
	text-align: center ;

	&__mode {
		display: block ;
		font-size: 36px ;
		font-weight: 300 ;
		margin-bottom: 12px ;
	}

	&__screen {
		display: block ;
		font-size: 18px ;
		line-height: 24px ;
	}
}
