
body {
	font-family: verdana, arial, sans-serif ;
	font-size: 18px ;
}

button {
	border: 1px solid #999999 ;
	color: inherit ;
	cursor: pointer ;
	font-family: inherit ;
	font-size: 20px ;
	padding: 5px 10px ;
}

.selected {
	font-weight: bold ;
	background: gold ;
}

