<!doctype html>
<html ng-app="Demo">
<head>
	<meta charset="utf-8" />

	<title>
		Child Animations Have To Take The "Magical" Transition-Delay Into Account In AngularJS
	</title>

	<link rel="stylesheet" type="text/css" href="./demo.css"></link>
</head>
<body ng-controller="AppController">

	<h1>
		Child Animations Have To Take The "Magical" Transition-Delay Into Account In AngularJS
	</h1>

	<p>
		<a ng-click="toggleViews()">Toggle Views</a>
	</p>

	<!-- 
		NOTE: The following three DIV elements all use the same exact styles. The only 
		difference between "a", "b", and "c" is the LEFT style that is being used. As
		the DIV performs its ng-enter and ng-leave animations, we are going to animate
		the SPAN element as well, based on the contextual animation class. 
	-->

	<div ng-if="isShowingView" class="view view-a">
		
		<span>View A</span>

	</div>

	<div ng-if="isShowingView" class="view view-b">
		
		<span>View B</span>

	</div>

	<div ng-if="isShowingView" class="view view-c">
		
		<span>View C</span>

	</div>


	<!-- Load scripts. -->
	<script type="text/javascript" src="../../vendor/angularjs/angular-1.4.5.js"></script>
	<script type="text/javascript" src="../../vendor/angularjs/angular-animate-1.4.5.js"></script>
	<script type="text/javascript">

		// Create an application module for our demo.
		angular.module( "Demo", [ "ngAnimate" ] );


		// --------------------------------------------------------------------------- //
		// --------------------------------------------------------------------------- //


		// I control the root of the application.
		angular.module( "Demo" ).controller(
			"AppController",
			function AppController( $scope ) {

				$scope.isShowingView = false;


				// ---
				// PUBLIC METHODS.
				// ---

				
				// I toggle the existence of the animated views.
				$scope.toggleViews = function() {

					$scope.isShowingView = ! $scope.isShowingView;

				};

			}
		);

	</script>

</body>
</html>