
:host {
	display: block ;
	font-size: 18px ;
}

.switcher {
	display: flex;

	&__label {
		flex: 0 0 auto ;
	}

	&__option {
		color: red ;
		cursor: pointer ;
		flex: 0 0 auto ;
		margin: 0px 10px 0px 10px ;
		user-select: none ;
			-moz-user-select: none ;
			-webkit-user-select: none ;
		text-decoration: underline ;
	}
}
