
:host {
	display: block ;
	font-size: 18px ;
	padding: 50px 0px 0px 0px ;
}

.nav {
	background-color: #F0F0F0 ;
	border-bottom: 2px solid #999999 ;
	box-sizing: border-box ;
	display: flex ;
	height: 50px ;
	line-height: 50px ;
	justify-content: center ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;

	&__item {
		padding: 0px 17px 0px 17px ;

		&:hover {
			background-color: gold ;
		}

		&--version {
			color: #999999 ;
			cursor: pointer ;
			text-decoration: underline ;
		}
	}
}

h1 {
	text-align: center ;
}
