
:host {
	background-color: #FFFFFF ;
	bottom: 0px ;
	box-shadow: 0px 5px 40px fade( #000000, 16% ) ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	width: 370px ;
	z-index: 101 ;
}

.scroll-trap {
	bottom: 0px ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
}

router-outlet {
	display: none ;
}
