
:host {
	display: block ;
	font-size: 18px ;
}

.options {
	align-items: center ;
	display: flex ;

	strong {
		margin-right: 10px ;
	}

	a {
		background-color: #e0e0e0 ;
		border-radius: 4px 4px 4px 4px ;
		cursor: pointer ;
		font-family: monospace ;
		margin-right: 7px ;
		padding: 3px 10px 3px 10px ;
	}
}
