
:host {
	display: block ;
	font-size: 18px ;
}

nav {
	display: flex ;

	.item {
		border-bottom: 3px solid #CCCCCC ;
		margin-right: 10px ;
		padding: 4px 10px 4px 10px ;
		text-decoration: none ;

		&.on {
			border-color: #FF3366 ;
		}
	}
}
