
:host {
	border-top: 1px solid #CCCCCC ;
	display: block ;
	margin: 30px 0px 30px 0px ;
	padding-top: 20px ;
}

nav {
	display: flex ;
	margin-bottom: 20px ;

	.label {
		margin-right: 20px ;
	}

	.item {
		border-bottom: 3px solid #CCCCCC ;
		margin-right: 10px ;
		padding: 4px 10px 4px 10px ;
		text-decoration: none ;

		&.on {
			border-color: #FF3366 ;
		}
	}
}

p strong {
	background-color: gold ;
	border-right: 3px 3px 3px 3px ;
	display: inline-block ;
	padding: 3px 5px 3px 5px ;
}