
// Additional standard-view shared styles.
.bn-standard-header {
	background-color: #1F2532 ; 
	display: block ;
	margin-bottom: 50px ;
	padding: 25px 0px 48px 0px ;

	&__container {
		margin: 0px auto 0px auto ;
		position: relative ;
		width: 1170px ;
	}

	&__logo {
		border-right: 1px solid #2C3242 ;
		color: #FFFFFF ;
		cursor: pointer ;
		font-size: 30px ;
		font-weight: 600 ;
		height: 36px ;
		line-height: 36px ;
		padding-right: 20px ;
		position: absolute ;
		left: -84px ;
		text-align: center ;
		top: 0px ;
		width: 40px ;
	}

	&__title {
		color: #FFFFFF ;
		font-size: 32px ;
		font-weight: 300 ;
		line-height: 36px ;
		margin: 0px 0px 0px 0px ;
	}

	&__nav {
		margin-left: -20px ;
		margin-top: 30px ;
		position: relative ;
	}

	&__nav-item {
		color: #757B8C ;
		float: left ;
		font-size: 13px ;
		font-weight: 400 ;
		letter-spacing: 0.8px ;
		margin-right: 10px ;
		padding: 10px 20px 18px 20px ;
		position: relative ;
		text-decoration: none ;
		text-transform: uppercase ;
		transition: color 100ms ease ;
			-moz-transition: color 100ms ease ;
			-webkit-transition: color 100ms ease ;

		&:hover {
			color: #ACB1BE ;
		}

		// ---
		// VARIATIONS.
		// ---
	
		&--on {
			color: #ACB1BE ;

			&:after {
				background-color: #FF3366 ;
				bottom: 0px ;
				content: "" ;
				height: 2px ;
				left: 0px ;
				position: absolute ;
				right: 0px ;
			}
		}	
	}

	&:after {
		clear: both ;
		content: "" ;
		display: table ;
	}

	// ---
	// VARIATIONS.
	// ---

	&--with-nav {
		padding-bottom: 0px ;
	}
}


.bn-standard-body {
	display: block ;

	&__container {
		margin: 0px auto 0px auto ;
		position: relative ;
		width: 1170px ;
	}
}
