div.route-activity {
	background-color: #CC0000 ;
	border-radius: 0px 0px 3px 3px ;
	color: #FFFFFF ;
	font-family: monospace ;
	height: 22px ;
	left: 50% ;
	line-height: 23px ;
	margin-left: -77px ;
	position: fixed ;
	text-align: center ;
	top: 0px ;
	width: 154px ;
}

div.route-activity em {
	font-style: normal ;
}