:host {
  display: block ;
}
.__filter {
  border: 0px solid #CCCCCC ;
  border-bottom-width: 1px ;
  padding: 10px 20px 10px 10px ;
  width: 300px ;
}
.__filter-tip {
  color: #666666 ;
  display: inline-block;
  font-size: 14px ;
  margin-left: 15px ;
  vertical-align: middle ;
}
.__filter-tip__key {
  background-color: #FAFAFA ;
  border: 1px solid #DADADA ;
  border-radius: 4px 4px 4px 4px ;
  color: #CC0000 ;
  display: inline-block;
  margin: 0px 2px 0px 2px ;
  padding: 1px 7px 2px 7px ;
}
.__projects {
  list-style-type: none ;
  margin: 40px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
}
.__projects:after {
  clear: both ;
  content: "";
  display: table ;
}
.__project {
  float: left ;
  margin: 0px 48px 40px 0px ;
}
.__project:hover .__project-name {
  padding-bottom: 45px ;
}
.__project--column-3 {
  margin-right: 0px ;
}
.__project-link {
  background-color: #FAFAFA ;
  border: 1px solid #DFE2E6 ;
  border-radius: 2px 2px 2px 2px ;
  display: block ;
  height: 250px ;
  position: relative ;
  width: 356px ;
}
.__project-name {
  background-color: #FFFFFF ;
  bottom: 0px ;
  box-shadow: 0px -1px 0px 0px rgba(80, 88, 104, 0.12);
  color: #666666 ;
  font-weight: 400 ;
  left: 0px ;
  padding: 30px 0px 30px 0px ;
  position: absolute ;
  text-align: center ;
  transition: padding 150ms ease ;
  -moz-transition: padding 150ms ease ;
  -webkit-transition: padding 150ms ease ;
  white-space: nowrap ;
  right: 0px ;
}
.__failure-case a {
  color: #999999 ;
  text-decoration: underline ;
}
