
// --------- SHARED WIDGET LESS FILE. --------- //

:host {
	content: "Shared Widget Styles...." ; // <--- For debugging Style tags.

	border: 1px solid #CCCCCC ;
	border-radius: 3px 3px 3px 3px ;
	display: block ;
	margin: 16px 0px 16px 0px ;
	padding: 17px 17px 17px 17px ;
}

*:first-child {
	margin-top: 0px ;
}

*:last-child {
	margin-bottom: 0px ;
}

strong {
	text-decoration: underline ;
	text-transform: uppercase ;
}
